









<h3 class="display-4 text-center">BIENVENUE <%= params[:first_name] %> ! Ici c'est notre super site de potins, il est chouette, non ? <h1>

<!--
  <br>
<div class ="container text-center">
<form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" name="first_name" placeholder="First name">
       <input type="submit" class="btn btn-outline-success"><a </a></input>
    </div>
  </div>
</form>
<div/>
-->
